/* ---- VARIABLES */
:root {

/*  fonts */
--font-default: arial, sans-serif;
--font-heading: georgia, serif;

    /* Colors */
    --color-purple: #4952a3;
    --color-red: #ff5b5e;
    --color-deep-blue: #28313b;
    --color-light-grey: #97a4b1;
    --color-mid-blue: #34495e;
    --color-almost-white: #e8eef4;
    --color-light-green: #63dbc1;
  
    /* abstract colors out */
    --main-text-color: var(--color-mid-blue);
    --strong-text-color: var(--color-deep-blue);
    --alternative-text-color: var(--color-almost-white);
    --error-color: var(--color-red);
    --border-color: var(--color-light-grey);
    
    --secondary-bg-color: var(--color-almost-white);
    --alternative-bg-color: var(--color-purple);
    
    /* measurements*/
    --padder: 3%;
    --spacer: 20px;
    --spacer-large: 80px;
    --transition-time: 0.3s;
  
    --area-wide: 1200px;
  
    /* font sizes */
    --font-size-site-title: 32px;
    --font-size-page-title: 40px;
    --font-size-section-title: 30px; 
    --font-size-sub-title: 24px;
    --font-size-heading-small: 16px;

  }

/* ---- GLOBAL DEFAULTS */
* {
    box-sizing: border-box;
}

body {
    line-height: 1.8;
    font-size:18px;
    color: var(--main-text-color);
    font-family: var(--font-default);
}

img, video {
    max-width: 100%;
    height:auto;
}

/* ---- HEADINGS AND TYPE */

/* ---- LAYOUTS */

.layout-wide {
    margin-botton: var(--spacer-large);
    padding-left: var(--padder);
    padding-right: var(--padder);
    max-width: var(--area-wide);
    margin-left: auto;
    margin-right: auto;
}

/* ---- HEADER */

header {
    background-color: var(--alternative-bg-color);
    padding-top: var(--padder);

}

header .layout-wide {
    margin-bottom: 0;
    overflow: hidden;
}

.logo-wrapper {
    width: 20%;
    float: left;
}

.site-title {
    text-align: right;
    color: var(--alternative-text-color);
    font-size: var(--font-size-site-title);
    font-family: var(--font-heading);


}

/* ---- NAVIGATION */

/* ---- FOOTER */


footer {
    background-color: var(--alternative-bg-color);
}
.footer-subscribe {
    background-color: var(--secondary-bg-color);
    padding-top: var(--spacer-large);
    padding-bottom: var(--spacer-large);
    text-align: center;
}

.footer-notices {
    padding-top: var(--spacer);
    padding-bottom: var(--spacer);
}

.footer-notices .layout-wide {
    margin-bottom: 0;
    text-align: center;
}

.copyright {
    color: white;
}

.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-links li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.social-links a {
display: block;
tansition: var(--transition-time);
}

.social-links a:hover {
    transform: scale(1.1);
}

/* subscripion form */
label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    margin-bottom: var(--spacer);
    max-width: 100%;
    width: 480px;
    padding: 10px;
}

input[type="submit"] {
    background-color: var(--color-light-green);
    border: none;
    padding: var(--spacer);
    border-radius: 30px;
    min-width: 200px;
    text-transform: uppercase;
    transition: var(--transition-time);
    font-family: var(--font-heading);
}

input[type="submit"]:hover {
    background-color: var(--strong-text-color);
    color: var(--alternative-text-color);
}

/* ---- FORMS */

/* ---- MODULES */