@import url('https://fonts.googleapis.com/css?family=Karla|Rubik');

/* ---- VARIABLES */

:root {

/*  fonts */
--font-default: 'Karla', sans-serif;
--font-heading: 'Rubik', sans-serif;

    /* Colors */
    --color-purple: #4952a3;
    --color-red: #ff5b5e;
    --color-deep-blue: #28313b;
    --color-light-grey: #97a4b1;
    --color-mid-blue: #34495e;
    --color-almost-white: #e8eef4;
    --color-light-green: #63dbc1;
  
    /* abstract colors out */
    --main-text-color: var(--color-mid-blue);
    --strong-text-color: var(--color-deep-blue);
    --alternative-text-color: var(--color-almost-white);
    --error-color: var(--color-red);
    --border-color: var(--color-light-grey);
    
    --secondary-bg-color: var(--color-almost-white);
    --alternative-bg-color: var(--color-purple);
    
    /* measurements*/
    --padder: 3%;
    --spacer: 20px;
    --spacer-large: 80px;
    --transition-time: 0.3s;
  
    --area-wide: 1200px;
  
    /* font sizes */
    --font-size-site-title: 32px;
    --font-size-page-title: 40px;
    --font-size-section-title: 30px; 
    --font-size-sub-title: 24px;
    --font-size-heading-small: 16px;
  }

  @media screen and (min-width: 800px) {

    :root {
    --font-size-site-title: 54px;
    --font-size-page-title: 80px;
    --font-size-section-title: 48px;

    --padder: 2%;
  }
}


/* ---- GLOBAL DEFAULTS */
* {
    box-sizing: border-box;
}

body {
    line-height: 1.8;
    font-size:18px;
    color: var(--main-text-color);
    font-family: var(--font-default);
}

img, video {
    max-width: 100%;
    height:auto;
}

/* ---- HEADINGS AND TYPE */

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-heading);
    color: var(--strong-text-color);
    font-weight: bold;
}

h1 {
    font-size: var(--font-size-page-title);
}

h2 {
    font-size: var(--font-size-section-title);
}

h3 {
    font-size: var(--font-size-sub-title);
}

a {
    color: var(--error-color);
    transition: var(--transition-time);
}

a:hover {
    color: var(--strong-text-color);
}

/* ---- LAYOUTS */

.layout-wide {
    margin-bottom: var(--spacer-large);
    padding-left: var(--padder);
    padding-right: var(--padder);
    max-width: var(--area-wide);
    margin-left: auto;
    margin-right: auto;
}

.layout-full-width {
    width: 100%;
    margin-bottom: var(--spacer-large);
}

/* ---- HEADER */

header {
    background-color: var(--alternative-bg-color);
    padding-top: var(--padder);
    

}

header .layout-wide {
    margin-bottom: 0;
    overflow: hidden;
}

.logo-wrapper {
    width: 20%;
    float: left;
}

.site-title {
    text-align: right;
    color: var(--alternative-text-color);
    font-size: var(--font-size-site-title);
    font-family: var(--font-heading);
    font-weight: bold;


}

/* ---- NAVIGATION */

.navigation {
    background-color: var(--alternative-bg-color);
    position: sticky;
    top: 0;
    z-index: 20;
    padding-top: var(--padder);
}

.nav-prompt {
    width: 100%;
    padding-top: var(--padder);
    padding-bottom: var(--padder);
    background-color: var(--alternative-bg-color);
    color: var(--alternative-text-color);
    border: none;
    border-top: 1px solid black;
}
.nav-inner {
    margin-bottom: 0;
}
.nav-inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-inner li {
    text-align: center;
}
.nav-inner a {
    color: var(--alternative-text-color);
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid var(--border-color);
    display: block;
    padding-top: var(--padder);
    padding-bottom: var(--padder);
}
.nav-inner a:hover {
    color: var(--error-color);
    border-bottom-color: currentColor;
}

.nav-inner .active {
    font-weight: bold;
    border-bottom-color: currentColor;
}

@media screen and (min-width: 800px) {
    .nav-prompt {
        display: none;
    }
    .nav-inner ul {
        display: flex;
        justify-content: space-between;
    }
    .navigation {
        padding-bottom: var(--padder);
    }
    .nav-inner a {
        border-bottom: 3px solid transparent;
    }
}

@media screen and (max-width:800px) {
    .nav-inner {
    overflow: hidden;
    transition: var(--transition-time);
    }

    .nav-inner[aria-expanded="false"] {
    max-height: 0;
    }
    .nav-inner[aria-expanded="true"] {
        max-height: 100vh;
    }
}

/* ---- FOOTER */


footer {
    background-color: var(--alternative-bg-color);
}
.footer-subscribe {
    background-color: var(--secondary-bg-color);
    padding-top: var(--spacer-large);
    padding-bottom: var(--spacer-large);
    text-align: center;
}

.footer-notices {
    padding-top: var(--spacer);
    padding-bottom: var(--spacer);
}

.footer-notices .layout-wide {
    margin-bottom: 0;
    text-align: center;
}

.copyright {
    color: white;
}

.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-links li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.social-links a {
display: block;
transition: var(--transition-time);
}

.social-links a:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 800px) {
    .footer-notices .layout-wide {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-around;
        align-items: center;
    }
    .social-links {
        text-align: right;
    }
    .copyright {
        text-align: left;
    }
}

/* subscripion form */
label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    margin-bottom: var(--spacer);
    max-width: 100%;
    width: 480px;
    padding: 10px;
}

input[type="submit"] {
    background-color: var(--color-light-green);
    border: none;
    padding: var(--spacer);
    border-radius: 30px;
    min-width: 200px;
    text-transform: uppercase;
    transition: var(--transition-time);
    font-family: var(--font-heading);
}

input[type="submit"]:hover {
    background-color: var(--strong-text-color);
    color: var(--alternative-text-color);
}

/* ---- FORMS */

/* ---- MODULES */

@media screen and (min-width: 800px) {
    .hero-module {
        position: relative;
    }

    .hero-module img {
        width: 100%;
    }

    .hero-content {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .heading-main {
        color: var(--color-almost-white);
        text-shadow: 0px 1px 10px var(--strong-text-color);
    }

}

/* Grid in content area */

@media screen and (min-width:800px);

.content-area-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}

/* image gallery */
.image-gallery ul {
list-style: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.image-gallery li {
    float: left;
    max-width: 250px;
    margin: 10px;
    
}

.image-gallery a img {
    box-shadow: 0px 1px 10px var(--strong-text-color);
    filter: sepia(90%);
    transition: var(--transition-time);
}

.image-gallery a:hover img {
    filter: unset;
    transform: scale(1.05);
}